/* .form-floating>label {
    left: 2.85rem;
}

form {
    margin-top: 2em;
}

.px-5 {
    padding-bottom: 2.5rem;
}

.btn-info {
    width: 50%;
    /* justify-content: center; */
/* }


@media only screen and (max-height: 640px) {
    .px-5 {
        padding-bottom: 0.5rem;
    }
  }


  @media only screen and (min-height: 720px) {
    .px-5 {
        padding-bottom: 4rem;
    }
  }

  @media only screen and (min-height: 570px) {
    .form-floating>.form-control, .form-floating>.form-select {
        height: calc(4rem + 2px);
        padding: 1rem .75rem;
    }
    
  }

  @media only screen and (min-width: 950px) {
    
    .btn-info {
        width: 30%;
    }
    
  }
   */
   .container-fluid{
       margin: 5vmin; 
   } 
   
   .btn{
       margin: 3vmin;
       width: 30%;
   }

   .sign{
    font-family: 'Kaushan Script', cursive;
    font-size: 7vmin;
    margin: 5%;
    color: purple;
   }

   body{
       
       background-image: url("../assets/26275.jpg");
       background-position: center;
       background-repeat: repeat-y;
       background-size: cover;
       height: 100%;
   }

   .custom-select-container{
        
   }

   @media(max-width: 576px){
    .btn{
        background-color: #45818e !important;
        width: 50%;
        margin: 7%;
    }
    .sign{
        font-size: 9vmin;
       
    }
   }
   @media(max-width: 700px){
    .btn{
        width: 65%;
        margin: 9%;
    }
    .container-fluid{
        margin-top: 10%;
    }
    .sign{
        margin-bottom: 20%;
    }
   }
